<div class="container digi-section rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">MANAGE SECTIONS</div>
	<button class = "btn btn-primary round pull-right" data-toggle="modal" data-target="#newSection">+Add Section</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Section Name</th>
    <th>Specification</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let section of sections.sections | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: sections.totalItems, id:'server'} ">
        <td class = "table-cell">{{ section.sectionName }}</td>
        <td class = "table-cell">{{ section.specificationName }}</td>
        <td class = "table-cell">{{ section.productNames }}</td>
      
         <td class = "table-cell">
          <button type="button" class="btn btn-primary" (click) = "deleteSection(section)">
            <span class="glyphicon glyphicon-remove" ></span>
          </button>
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span></button>
         </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  <new-section></new-section>
</div>
