.btn-menu{
  background-color: white;
  color: black;
  font-family: 'Open Sans Reg';
  font-size: 14px;
  font-weight: bold;
}

.digi-menu {
  box-shadow: 0 0 1px #aaa;
 // border: 1px solid #fff;
}

.digi-menu-text{
  font-family: 'Open Sans Reg';
  font-size: 14px;
  font-weight: bold;
}
