
      <form >
         First name: <input type = "text" name = "first_name"  [(ngModel)] = "firstName"/>
         <br>
         Last name: <input type = "text" name = "last_name" [(ngModel)] = "lastName"/>
         <br>
         Income: <input type = "number" name = "income" [(ngModel)] = "income"/>
         <br>
         Job type:  <select name = "dropdown" [(ngModel)] = "type">
            <option value = "BUSINESS" selected>BUSINESS</option>
            <option value = "INDIVIDUAL">INDIVIDUAL</option>
         </select>
         <br>
          Eligibility: <input type = "number" name = "eligibility" [(ngModel)] = "eligibility"/>
          <br>
          <input type = "button" name = "submit" value = "submit" (click) = "submit()"/>
          
        
      </form>
 
