*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  
}
img {
  border-radius: 50%;
}

.grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  width: 100%;
  background: #eee;

}
.grid-logo-cell {
  flex: 1;
}


.grid-user-cell {
  flex : 1 0 10%;
}
.grid-right {
  justify-content: flex-end;
}



.loggedinUser{
   justify-content: flex-end;
}