

<div class="grid" role="navigation">
    <div class="grid-logo-cell"><a href="#">DigiConsult Ltd</a></div>
    <div class="grid-cell1 grid-right">
    <div class="grid ">
	    <div class="grid-user-cell"><a href="#" class="item -link"><img src="assets/img_avatar3.png" style="width:30px"><label></label><span class="glyphicon glyphicon-triangle-bottom "></span></a></div>
	    <div class="grid-cell" ><a href="#" class="item -link"><span class="glyphicon glyphicon-off"></span></a></div>
	 </div>
	 </div>
</div>