<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': visible ? 'block' : 'none'}">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="user-name" class="form-control-label">User Id:</label>
            <input type="text" class="form-control" id="user-id" [(ngModel)]="userId" name="first">
          </div>
          <div class="form-group">
            <label for="user-name" class="form-control-label">First Name:</label>
            <input type="text" class="form-control" id="first-name" [(ngModel)]="firstName" name="first">
          </div>
          <div class="form-group">
            <label for="user-name" class="form-control-label">Last Name:</label>
            <input type="text" class="form-control" id="last-name" [(ngModel)]="lastName" name="first">
          </div>
          <div class="form-group">
            <label for="user-name" class="form-control-label">Email:</label>
            <input type="text" class="form-control" id="email-text" [(ngModel)]="email" name="first">
          </div>
          <div class="form-group">
            <label for="user-name" class="form-control-label">Phone Number:</label>
            <input type="text" class="form-control" id="phone-number" [(ngModel)]="phoneNumber" name="first">
          </div>
          <div class="form-group">
            <label for="password-text" class="form-control-label">Password:</label>
            <input type="password" class="form-control" id="password-text" [(ngModel)]="password" name="first">
          </div>
          <div class="form-group" >
            <label for="role-option" class="form-control-label">Roles:</label>
            <select id="role-option" class="form-control"   [(ngModel)]="userRole" name="roles">
              <option *ngFor="let role of availableRoles" [value]="role.id">
                {{ role.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewUser()" >Add</button>
      </div>
    </div>
  </div>
</div>


