<div class="container digi-user" >
  <div>
   <div class = "glyphicon glyphicon-cog">MANAGE ROLES AND PERMISSIONS</div>
	<button class = "btn btn-primary round pull-right" data-toggle="modal" data-target="#newRole">+Add Role</button>
   
  </div>
  <table class="table table-bordered">
    <thead>
    <tr >
      <th>Role</th>
      <th>Visibile </th>
      <th>Last Updated </th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let role of roles.roles">
        <td class = "table-cell">{{ role.name }}</td>
        <td class = "table-cell"></td>
        <td class = "table-cell"></td>

         <td class = "table-cell">
          <button type="button" class="btn btn-primary round" (click) = "deleteRole(role)">
            <span class="glyphicon glyphicon-remove" ></span>
          </button>
          <button type="button" class="btn btn-primary round">
            <span class="glyphicon glyphicon-pencil"></span></button>
        </td>
     </tr>
    </tbody>
  </table>
<!-- 	<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
  	<new-role></new-role>
</div>
