<div class="container digi-client rounded" >
<div class="column">
<div class = "glyphicon glyphicon-cog">MANAGE CLIENTS</div>
	<button class = "btn btn-primary round pull-right" data-toggle="modal" data-target="#newClient">+Add Client</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Client Name</th>
    <th>Address</th>
    <th>Client's Company</th>
    <th>Projects</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let client of clients.clients | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: clients.totalItems, id:'server'} ">
        <td class = "table-cell">{{ client.name }}</td>
        <td class = "table-cell">{{ client.address }}</td>
        <td class = "table-cell">{{ client.companyName }}</td>
        <td class = "table-cell">{{ client.projectNames }}</td>
        
         <td class = "table-cell">
          <button type="button" class="btn btn-primary" (click) = "deleteClient(client)">
            <span class="glyphicon glyphicon-remove" ></span>
          </button>
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span></button>
         </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  <new-client></new-client>
</div>
