<div class="container digi-company rounded" >
<div class="column">
	<div class = "glyphicon glyphicon-cog">MANAGE COMPANY</div>
	<button class = "btn btn-primary round" data-toggle="modal" data-target="#newCompany">+Add Company</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let company of companies.companies | paginate: { itemsPerPage: 3, currentPage: currentPage, totalItems: companies.totalItems, id:'server'} ">
        <td class = "table-cell">{{ company.companyName }}</td>
        <td class = "table-cell">{{ company.address }}</td>
         <td class = "table-cell">
          <button type="button" class="btn btn-primary" (click) = "deleteComapny(company)">
            <span class="glyphicon glyphicon-remove" ></span>
          </button>
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span></button>
        </td>
     </tr>
  </tbody>
 </table>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  <new-company></new-company>
</div>
